<div class="sidebar">
    <div class="sidebar-links">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='Home.svg') }}" alt="Home">
            <span>Página Inicial</span>
        </a>
        <a href="{{ url_for('fornecedores') }}">
            <img src="{{ url_for('static', filename='Fornecedores.svg') }}" alt="Fornecedores">
            <span>Fornecedores</span>
        </a>
        <a href="{{ url_for('insumos') }}">
            <img src="{{ url_for('static', filename='Insumos.svg') }}" alt="Insumos">
            <span>Insumos</span>
        </a>
        <a href="{{ url_for('clientes') }}">
            <img src="{{ url_for('static', filename='Clientes.svg') }}" alt="Clientes">
            <span>Clientes</span>
        </a>
        <a href="{{ url_for('funcionarios') }}">
            <img src="{{ url_for('static', filename='Funcionarios.svg') }}" alt="Funcionários">
            <span>Funcionários</span>
        </a>
        <a href="{{ url_for('equipes') }}">
            <img src="{{ url_for('static', filename='Equipes.svg') }}" alt="Equipes">
            <span>Equipes</span>
        </a>
        <a href="{{ url_for('compras') }}">
            <img src="{{ url_for('static', filename='Compras.svg') }}" alt="Compras">
            <span>Compras</span>
        </a>
        <a href="{{ url_for('vendas') }}">
            <img src="{{ url_for('static', filename='Vendas.svg') }}" alt="Vendas">
            <span>Vendas</span>
        </a>
    </div>
</div>
